{
  "plugins": ["stylelint-scss"],
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss",
    "stylelint-config-standard-vue"
  ],
  "ignoreFiles": ["src/styles/scss-suger.scss"],
  "rules": {
    "string-quotes": "single",
    "scss/double-slash-comment-empty-line-before": null,
    "at-rule-no-unknown": null,
    "function-name-case": null,
    "function-no-unknown": null,
    "declaration-block-trailing-semicolon": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "rule-empty-line-before": null,
    "scss/at-mixin-argumentless-call-parentheses": null,
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "custom-property-pattern": null,
    "declaration-block-no-redundant-longhand-properties": null
  }
}
