@charset "utf-8";
/**
 * @author wariasbj
 * @description global element-plus variable definition
*/

@use "element-plus/theme-chalk/src/index.scss" as *;
@use "element-plus/theme-chalk/src/button.scss" as *;
@use "element-plus/theme-chalk/src/date-picker.scss" as *;
@use "element-plus/theme-chalk/src/table-column.scss" as *;
@use "element-plus/theme-chalk/src/table.scss" as *;
@use "element-plus/theme-chalk/src/col.scss" as *;
@use "element-plus/theme-chalk/src/row.scss" as *;
@use "element-plus/theme-chalk/src/container.scss" as *;
@use "element-plus/theme-chalk/src/input.scss" as *;
@use "element-plus/theme-chalk/src/dropdown-item.scss" as *;
@use "element-plus/theme-chalk/src/select.scss" as *;
@use "element-plus/theme-chalk/src/select-v2.scss" as *;

$primary: #062c6e;
$success: #67c23a;
$warning: #e6a23c;
$error: #f56c6c;
